<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

# publishes the document which is open in flash

echo "flash.getDocumentDOM().publish()" &gt; /tmp/test.jsfl;
open /tmp/test.jsfl;</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>@b</string>
	<key>name</key>
	<string>Publish Movie</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.actionscript</string>
	<key>semanticClass</key>
	<string>process.build.actionscript</string>
	<key>uuid</key>
	<string>6EE297DB-83BF-11D9-AD5A-000A95C5F126</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
